.greeting_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.greeting {
  font-size: 2em;
  font-weight: bold;
  color: #005be4;
  padding: 1rem;
  border-bottom: 2px solid #7028e4;
}
